@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{

 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;

}


.menu-h{
    background-color: #19191a ;
}

.menu-h ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
    
}

.menu-h  ul li{
    display: inline;
}

.menu-h ul li a {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: background .3s;
}

.menu-h ul li a:hover{
    background-color: rgba(24,139,233
    );
}

.menu-h ul li:last-child a{
    float: right;
    background-color: rgba(24,139,233);

}